.btn > button {
    border-radius: 5px;
    background-color: #7cd6a9;
    font-size: 100%;
    font-family: "Montserrat", Tahoma, Verdana, Segoe, sans-serif;
    padding: 3px 10px 3px 10px;
    border-width: 0;
    transition: all ease-in-out 0.2s;
}

.btn > button:hover {
    background-color: rgb(54, 56, 57);
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.btn > button:active {
    background-color: rgb(204, 207, 209);
    border-radius: 20px;
    color: rgb(56, 55, 55);
    cursor:pointer;
}